<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connect-Link</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Connect-Link</h1>
    <h2>Welcome, {{ current_user.username }}!</h2>
<nav>
    <li><a href="{{ url_for('auth.index') }}">Home</a></li>
<li><a href="{{ url_for('auth.dashboard') }}">Dashboard</a></li>
<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>

</nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
